@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

    <h1>@ViewData["Title"]</h1>
<p>
        Please wait for your account to be confirmed by the administrator.
</p>

